@use '../../mixins';
@use '../../variables' as variables;

.panel {
  font-size: 1.5rem;
}

.selected {
  background: variables.$green;
  color: black;
  border-color: black !important;
}

.selector {
  border-color: variables.$green;
  border-left-width: 2px;
  display: grid;
  grid-template-columns: auto auto;
  white-space: pre;


  .selectorLeft {
    float: left;
    text-overflow: ellipsis;
  }

  .selectorRight {
    border-left-style: dashed;
    float: right;
    justify-self: end;
  }

  .selectorHidden {
    @extend .selectorRight;
    user-select: none;

    &:hover {
      cursor: default;
    }
  }
}
