.display {
  display: flex;
  flex: 1;
  height: 100%;
}

.display_pane {
  padding: 0 1rem 0 1rem;
  width: 100%;
}

.image_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.icon_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.icon {
  line-height: 1;
  font-size: 0.15rem;
  margin: 0;
}