.filesystem {
  border-right: solid #00ff00 2px;
  display: flex;
  flex: 0 0 25%;
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.fileselector_title {
  display: block;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  .text {
    display: block;
    overflow: hidden;
    padding-left: 0.25rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.fileselector_type {
  border-left: dashed #00ff00 2px;
  height: 100%;
  text-align: right;
  width: fit-content;

  .selected {
    border-left: dashed black 2px;
  }

  .text {
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

.selected {
  background-color: #00ff00;
  color: black;
}
