@use '_variables.scss' as variables;

body {
  align-items: center;
  background: black;
  color: variables.$green;
  display: flex;
  height: variables.$home-height;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

