@use '_variables.scss' as variables;

body {
  align-items: center;
  background: black;
  color: variables.$green;
  display: flex;
  height: variables.$home-height;
  justify-content: center;
  margin: 0;
  width: 100%;
  font-family: 'Monospac821 BT', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
